# Schneider Electrics - Energy Consumption Forecast

**End of competition: 31st March 23:59**

*In the context of this challenge, we do not want to look at all of the details of the building--the objective of the challenge is to provide an algorithm that can*
- *(i) either make a good forecast for all or some of the buildings*

*or* 
- *(ii) bring the conclusion that other data would be necessary to make relevant forecasts.*

https://www.drivendata.org/competitions/51/electricity-prediction-machine-learning/page/101/

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Loading of the datasets & EDA
https://www.drivendata.org/competitions/51/electricity-prediction-machine-learning/data/


### Metadata of the buidlings (metadata.csv)
- *SiteId*: ID of the building (range from 1 to 305 with missing values)
- *Binary columns*: xx_IsDayOff from monday to sunday (regular days-off of the building)
- *Numeric columns*: Surface, Sampling (number of minutes between each observation for this site), BaseTemperature (of the building in Â°C)

In [ ]:
#Loading the file
metadata = pd.read_csv('metadata.csv')
metadata['Sampling'] = metadata['Sampling'].astype('category')
#Turning xxIsDayOff in dummy variables
for lab in metadata.iloc[:, 4:].columns:
    metadata[lab] = metadata[lab].map({False: 0, True:1})
#Total days-off per week as categorical type
metadata['Total_DaysOff'] = metadata.iloc[:, 4:].sum(axis=1).astype('category')

print(metadata.head())
print(metadata.tail())
print(metadata.info())

In [ ]:
#Graphic visualizations of numerical values
_ = metadata.plot(kind='scatter', x='SiteId', y='SiteId', figsize=(10,5))
plt.show()

_ = metadata.plot(kind='scatter', x='SiteId', y='Surface', figsize=(10,5))
plt.show()

_ = metadata.plot(kind='box', y='Surface', figsize=(5,10))
plt.show()

_ = metadata.plot(kind='scatter', x='SiteId', y='BaseTemperature', figsize=(10,5))
plt.show()

_ = metadata.plot(kind='bar', x='SiteId', y='Total_DaysOff', figsize=(10,5))
plt.show()

### Public Holidays (holidays.csv)
Public holidays at the sites included in the dataset, which may be helpful for identifying days where consumption may be lower than expected.

In [ ]:
#Loading the file
holidays = pd.read_csv('holidays.csv', parse_dates=[1])
holidays.index = holidays['Date']
holidays = holidays.drop(['Unnamed: 0'], axis='columns')
holidays['SiteId'] = holidays['SiteId'].astype('category')
print(holidays.head())
print(holidays.tail())
print(holidays.info())

#Days off count per building
holidays_count = holidays.groupby('SiteId').count()

_ = holidays_count['Holiday'].plot(kind='bar', figsize=(20, 5))
plt.show()

### Historical Consumption - Training set (train.csv)


- *obs_id*: Arbitrary ID for the observation
- *SiteId*: ID number for the building that matches across datasets
- *ForecastId*: ID for a timeseries that is part of a forecast (can be matched with the submission file)
- *Timestamp*: The time of the measurement
- *Value*: A measure of consumption for that building

In [12]:
#Loading the file
training = pd.read_csv('train.csv', parse_dates=[2])
training.index = training['Timestamp']
#training = training.drop(['Timestamp'], axis=1)
training['SiteId'] = training['SiteId'].astype('category')

print(training.head())
print(training.tail())
print(training.info())

print("\n Buildings in the set: ", training['SiteId'].unique().tolist())

             obs_id SiteId  Timestamp  ForecastId         Value
Timestamp
2014-09-03   744519      1 2014-09-03           1  9.096555e+05
2014-09-04  7627564      1 2014-09-04           1  1.748273e+06
2014-09-05  7034705      1 2014-09-05           1           NaN
2014-09-06  5995486      1 2014-09-06           1           NaN
2014-09-07  7326510      1 2014-09-07           1           NaN
                      obs_id SiteId           Timestamp  ForecastId  \
Timestamp
2015-11-19 11:30:00  2344172    305 2015-11-19 11:30:00        6974
2015-11-19 11:45:00  5113853    305 2015-11-19 11:45:00        6974
2015-11-19 12:00:00  5227641    305 2015-11-19 12:00:00        6974
2015-11-19 12:15:00  3750622    305 2015-11-19 12:15:00        6974
2015-11-19 12:30:00  2559139    305 2015-11-19 12:30:00        6974

                           Value
Timestamp
2015-11-19 11:30:00  3824.640721
2015-11-19 11:45:00  3766.130532
2015-11-19 12:00:00  3736.505120
2015-11-19 12:15:00  3816.493733
2015-11-19 12:30:00  4269.762540
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6559830 entries, 2014-09-03 00:00:00 to 2015-11-19 12:30:00
Data columns (total 5 columns):
obs_id        int64
SiteId        category
Timestamp     datetime64[ns]
ForecastId    int64
Value         float64
dtypes: category(1), datetime64[ns](1), float64(1), int64(2)
memory usage: 262.8 MB
None

 Buildings in the set:  [1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 29, 32, 33, 34, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 96, 98, 99, 100, 101, 102, 105, 106, 107, 108, 109, 110, 111, 112, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 134, 135, 136, 139, 140, 141, 142, 143, 145, 146, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 167, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 180, 181, 182, 183, 184, 185, 186, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 215, 216, 217, 218, 219, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 292, 293, 294, 295, 297, 298, 299, 300, 301, 302, 303, 304, 305]

In [ ]:
#NaN values = 1.3% of the "Value" column
print(len(training[training['Value'].isnull()]) / len(training))

#Visualization of means for each building
site_means = training.groupby('SiteId')['Value'].mean()
_ = site_means.plot(kind='bar', figsize=(30,20))
plt.show()

In [ ]:
#Evolution of power consumption for 1 building
one_building = training[training['SiteId'] == 1][['Value', 'Timestamp']]
one_building['week_day'] = one_building['Timestamp'].dt.dayofweek.astype('category')
one_building['month'] = one_building['Timestamp'].dt.month.astype('category')
#one_building['day_year'] = one_building['Timestamp'].dt.dayofyear.astype('category')
print(one_building.head(10))

#Mean according to day in the week
day_mean = one_building.groupby('week_day')['Value'].mean()
print(day_mean)

#Mean according to month of the year
month_mean = one_building.groupby('month')['Value'].mean()
print(month_mean)

#Power evolution
_ = one_building.plot(y='Value', figsize=(20,5))
plt.show()

#Days-off for the SiteID 1 are Saturday and sunday
_ = one_building['2014-09-04' : '2014-09-12'].plot(y='Value')
plt.show()

#Means
_ = day_mean.plot()
plt.show()
_ = month_mean.plot()
plt.show()

- *For a buidling, the consumption seems to be higher in May-June-july (air conditionning ?)*
- *The power consumption substantially drops during days-off of the building*

### Weather data (weather.csv)
temperature data from several stations near each site. For each site several temperature measurements were retrieved from stations in a radius of 30 km if available

In [ ]:
weather = pd.read_csv('weather.csv', index_col=0, parse_dates=[1])
weather.index = weather['Timestamp']
weather = weather.drop(['Timestamp'], axis=1)
weather['SiteId'] = weather['SiteId'].astype('category')

print(weather.head(30))
print(weather.info())

In [ ]:
#Temperature means per site
mean_t_sites = weather.drop(columns=['Distance'])
mean_t_sites = mean_t_sites.groupby('SiteId').mean()
print(mean_t_sites.head(10))

#Visualization
_ = mean_t_sites.plot(kind='bar', figsize=(20,10))
plt.show()

*--> Highly depends on the number of temperature records !*

*--> No assumption that all the buildings are in the same city*

### Submission format  
The value is the target variable, for the given timestamp & site

Same structure as the training dataset, useful to preprocess the submission csv

In [ ]:
forecast = pd.read_csv('submission_format.csv', parse_dates=[2])
print(forecast.head())
print(forecast.tail())
print(forecast.info())

building1 = forecast[forecast['SiteId'] == 1]
print("\n Site 1 \n", building1.head())
print(building1.tail())
building5 = forecast[forecast['SiteId'] == 5]
print("\n Site 5 \n", building5.head())
print(building5.tail())

---

## Full Training set preparation

- Missing values for meaurements: fill with value in-between ? Drop as it's target variable?


**FEATURES**: 
- Size of the flat, 
- dya of week and month of year (extracted from timestamp : https://pandas.pydata.org/pandas-docs/stable/api.html#datetimelike-properties ),
- regular days-off, 
- national holidays, 


### Building of the full training set
#### Preprocessing of the training dataset
Saved under *'training_features_DB.csv'*

In [16]:
#All functions combined to get the full training dataset 
#besides temperatures at this point

def add_features(file):
    """Adds to the train.csv or the submission_format.csv the corresponding features
    except the temperature records"""
    
    
    #Loading the original training dataset
    training_preprocess = pd.read_csv(file, parse_dates=[2])
    training_preprocess.index = training_preprocess['Timestamp']
    training_preprocess['SiteId'] = training_preprocess['SiteId'].astype('category')
    #print(training_preprocess.head())
    #print(training_preprocess.info())


    #Drop NaN values for the target variable
    training_preprocess = training_preprocess.loc[training_preprocess['Value'].notnull()]


    #Add 2 columns containing respectively the day of the week [0;6] and the month number [1;12] as features
    training_preprocess['Day_Week'] = training_preprocess['Timestamp'].dt.dayofweek.astype('category')
    training_preprocess['Month'] = training_preprocess['Timestamp'].dt.month.astype('category')


    #Add national holidays as a feature according to the timestamps and the building Id    
    #Loading holidays file
    holidays = pd.read_csv('holidays.csv', parse_dates=[1])
    holidays.index = holidays['Date']
    holidays = holidays.drop(['Unnamed: 0'], axis='columns')
    holidays.columns.values[0] = 'Timestamp'
    holidays.columns.values[1] = 'National_Holiday'

    #Merging the dataframes to add the corresponding National holidays of the building
    training_preprocess = pd.merge(training_preprocess, holidays,
                                   how='left', on=['Timestamp','SiteId'])


    #Replace NaN by 0 and values by 1 to have a dummy variable
    training_preprocess.loc[training_preprocess['National_Holiday'].notnull(), 'National_Holiday'] = 1
    training_preprocess['National_Holiday'] = training_preprocess['National_Holiday'].fillna(0)


    #Get dummy features
    training_preprocess = pd.get_dummies(training_preprocess)


    #Add surface, sampling frequency(min) & base temperature of the building according to SiteId from metadata
    #Loading metadata
    metadata = pd.read_csv('metadata.csv')

    #Merging dataframes
    training_preprocess = pd.merge(training_preprocess, 
                                   metadata[['SiteId', 'Surface', 'Sampling', 'BaseTemperature']],
                                   how='left', on=['SiteId'])

    
    print(training_preprocess.head(20))
    print(training_preprocess.info())
    
    training_preprocess.to_csv('{}_features_DB.csv'.format(file[:-4]))
    
    return training_preprocess

In [17]:
#Add features to the training set
add_features('train.csv')

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long long'

Exception ignored in: 'pandas._libs.lib.is_bool_array'
ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long long'

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long long'

Exception ignored in: 'pandas._libs.lib.is_bool_array'
ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long long'

     obs_id  SiteId  Timestamp  ForecastId         Value  National_Holiday  \
0    744519       1 2014-09-03           1  9.096555e+05                 0
1   7627564       1 2014-09-04           1  1.748273e+06                 0
2   3625268       1 2014-09-08           1  1.964878e+06                 0
3   6038546       1 2014-09-09           1  3.266904e+06                 0
4   4114748       1 2014-09-10           1  2.926094e+06                 0
5   2572804       1 2014-09-11           1  1.720502e+06                 0
6   2078763       1 2014-09-12           1  1.136248e+06                 0
7   2088236       1 2014-09-13           1  1.040529e+06                 0
8    330448       1 2014-09-14           1  1.030668e+06                 0
9   1085235       1 2014-09-15           1  1.226753e+06                 0
10  2629496       1 2014-09-16           1  1.228874e+06                 0
11  3828297       1 2014-09-17           1  1.169026e+06                 0
12  7855117       1 2014-09-18           1  1.513722e+06                 0
13   882799       1 2014-09-19           1  2.015528e+06                 0
14  3046848       1 2014-09-20           1  2.548943e+06                 0
15   829135       1 2014-09-21           1  4.235358e+06                 0
16  4339052       1 2014-09-22           1  5.538000e+06                 0
17  4210177       1 2014-09-23           1  6.145531e+06                 0
18  7684808       1 2014-09-24           1  5.536844e+06                 0
19  6224650       1 2014-09-25           1  4.212580e+06                 0

    Day_Week_0  Day_Week_1  Day_Week_2  Day_Week_3       ...         Month_6  \
0            0           0           1           0       ...               0
1            0           0           0           1       ...               0
2            1           0           0           0       ...               0
3            0           1           0           0       ...               0
4            0           0           1           0       ...               0
5            0           0           0           1       ...               0
6            0           0           0           0       ...               0
7            0           0           0           0       ...               0
8            0           0           0           0       ...               0
9            1           0           0           0       ...               0
10           0           1           0           0       ...               0
11           0           0           1           0       ...               0
12           0           0           0           1       ...               0
13           0           0           0           0       ...               0
14           0           0           0           0       ...               0
15           0           0           0           0       ...               0
16           1           0           0           0       ...               0
17           0           1           0           0       ...               0
18           0           0           1           0       ...               0
19           0           0           0           1       ...               0

    Month_7  Month_8  Month_9  Month_10  Month_11  Month_12      Surface  \
0         0        0        1         0         0         0  1387.205119
1         0        0        1         0         0         0  1387.205119
2         0        0        1         0         0         0  1387.205119
3         0        0        1         0         0         0  1387.205119
4         0        0        1         0         0         0  1387.205119
5         0        0        1         0         0         0  1387.205119
6         0        0        1         0         0         0  1387.205119
7         0        0        1         0         0         0  1387.205119
8         0        0        1         0         0         0  1387.205119
9         0        0        1         0         0         0  1387.205119
10        0        0        1         0         0         0  1387.205119
11        0        0        1         0         0         0  1387.205119
12        0        0        1         0         0         0  1387.205119
13        0        0        1         0         0         0  1387.205119
14        0        0        1         0         0         0  1387.205119
15        0        0        1         0         0         0  1387.205119
16        0        0        1         0         0         0  1387.205119
17        0        0        1         0         0         0  1387.205119
18        0        0        1         0         0         0  1387.205119
19        0        0        1         0         0         0  1387.205119

    Sampling  BaseTemperature
0       15.0             18.0
1       15.0             18.0
2       15.0             18.0
3       15.0             18.0
4       15.0             18.0
5       15.0             18.0
6       15.0             18.0
7       15.0             18.0
8       15.0             18.0
9       15.0             18.0
10      15.0             18.0
11      15.0             18.0
12      15.0             18.0
13      15.0             18.0
14      15.0             18.0
15      15.0             18.0
16      15.0             18.0
17      15.0             18.0
18      15.0             18.0
19      15.0             18.0

[20 rows x 28 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6473322 entries, 0 to 6473321
Data columns (total 28 columns):
obs_id              int64
SiteId              int64
Timestamp           datetime64[ns]
ForecastId          int64
Value               float64
National_Holiday    int64
Day_Week_0          uint8
Day_Week_1          uint8
Day_Week_2          uint8
Day_Week_3          uint8
Day_Week_4          uint8
Day_Week_5          uint8
Day_Week_6          uint8
Month_1             uint8
Month_2             uint8
Month_3             uint8
Month_4             uint8
Month_5             uint8
Month_6             uint8
Month_7             uint8
Month_8             uint8
Month_9             uint8
Month_10            uint8
Month_11            uint8
Month_12            uint8
Surface             float64
Sampling            float64
BaseTemperature     float64
dtypes: datetime64[ns](1), float64(4), int64(4), uint8(19)
memory usage: 611.2 MB
None

,obs_id,SiteId,Timestamp,ForecastId,Value,National_Holiday,Day_Week_0,Day_Week_1,Day_Week_2,Day_Week_3,...,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12,Surface,Sampling,BaseTemperature
0,744519,1,2014-09-03 00:00:00,1,9.096555e+05,0,0,0,1,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
1,7627564,1,2014-09-04 00:00:00,1,1.748273e+06,0,0,0,0,1,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
2,3625268,1,2014-09-08 00:00:00,1,1.964878e+06,0,1,0,0,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
3,6038546,1,2014-09-09 00:00:00,1,3.266904e+06,0,0,1,0,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
4,4114748,1,2014-09-10 00:00:00,1,2.926094e+06,0,0,0,1,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
5,2572804,1,2014-09-11 00:00:00,1,1.720502e+06,0,0,0,0,1,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
6,2078763,1,2014-09-12 00:00:00,1,1.136248e+06,0,0,0,0,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
7,2088236,1,2014-09-13 00:00:00,1,1.040529e+06,0,0,0,0,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
8,330448,1,2014-09-14 00:00:00,1,1.030668e+06,0,0,0,0,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
9,1085235,1,2014-09-15 00:00:00,1,1.226753e+06,0,1,0,0,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
10,2629496,1,2014-09-16 00:00:00,1,1.228874e+06,0,0,1,0,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
11,3828297,1,2014-09-17 00:00:00,1,1.169026e+06,0,0,0,1,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
12,7855117,1,2014-09-18 00:00:00,1,1.513722e+06,0,0,0,0,1,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
13,882799,1,2014-09-19 00:00:00,1,2.015528e+06,0,0,0,0,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
14,3046848,1,2014-09-20 00:00:00,1,2.548943e+06,0,0,0,0,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
15,829135,1,2014-09-21 00:00:00,1,4.235358e+06,0,0,0,0,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
16,4339052,1,2014-09-22 00:00:00,1,5.538000e+06,0,1,0,0,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
17,4210177,1,2014-09-23 00:00:00,1,6.145531e+06,0,0,1,0,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
18,7684808,1,2014-09-24 00:00:00,1,5.536844e+06,0,0,0,1,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
19,6224650,1,2014-09-25 00:00:00,1,4.212580e+06,0,0,0,0,1,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
20,5327620,1,2014-09-26 00:00:00,1,4.778401e+06,0,0,0,0,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
21,1541431,1,2014-09-27 00:00:00,1,5.907855e+06,0,0,0,0,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
22,3513640,1,2014-09-28 00:00:00,1,4.677118e+06,0,0,0,0,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
23,720788,1,2014-09-29 00:00:00,1,2.470595e+06,0,1,0,0,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
24,6135591,1,2014-09-30 00:00:00,1,2.676795e+06,0,0,1,0,0,...,0,0,0,1,0,0,0,1387.205119,15.0,18.0
25,4289315,1,2014-10-01 00:00:00,1,2.445638e+06,0,0,0,1,0,...,0,0,0,0,1,0,0,1387.205119,15.0,18.0
26,5427741,1,2014-10-02 00:00:00,1,2.358238e+06,0,0,0,0,1,...,0,0,0,0,1,0,0,1387.205119,15.0,18.0
27,396625,1,2014-10-03 00:00:00,1,1.987666e+06,0,0,0,0,0,...,0,0,0,0,1,0,0,1387.205119,15.0,18.0
28,6827250,1,2014-10-04 00:00:00,1,1.377485e+06,0,0,0,0,0,...,0,0,0,0,1,0,0,1387.205119,15.0,18.0
29,2372286,1,2014-10-05 00:00:00,1,1.372104e+06,0,0,0,0,0,...,0,0,0,0,1,0,0,1387.205119,15.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6473292,771879,305,2015-11-19 05:15:00,6974,2.333001e+02,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473293,4491452,305,2015-11-19 05:30:00,6974,2.607036e+02,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473294,994331,305,2015-11-19 05:45:00,6974,2.510754e+02,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473295,1185403,305,2015-11-19 06:00:00,6974,2.133030e+02,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473296,6333266,305,2015-11-19 06:15:00,6974,2.614443e+02,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473297,4335337,305,2015-11-19 06:30:00,6974,3.214357e+02,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473298,4603823,305,2015-11-19 06:45:00,6974,2.081185e+02,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473299,4139553,305,2015-11-19 07:00:00,6974,2.081185e+02,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473300,7756804,305,2015-11-19 07:15:00,6974,2.414471e+02,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473301,2975813,305,2015-11-19 07:30:00,6974,2.495941e+02,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473302,5961150,305,2015-11-19 07:45:00,6974,2.073779e+02,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473303,7321812,305,2015-11-19 08:00:00,6974,7.147131e+02,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473304,4480353,305,2015-11-19 08:15:00,6974,2.317448e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473305,4640292,305,2015-11-19 08:30:00,6974,2.283379e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473306,6397025,305,2015-11-19 08:45:00,6974,2.448540e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473307,2574155,305,2015-11-19 09:00:00,6974,3.646888e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473308,2232662,305,2015-11-19 09:15:00,6974,3.568381e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473309,2258488,305,2015-11-19 09:30:00,6974,3.655776e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473310,6939312,305,2015-11-19 09:45:00,6974,3.877966e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473311,4855906,305,2015-11-19 10:00:00,6974,3.987580e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473312,3888549,305,2015-11-19 10:15:00,6974,3.954993e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473313,3876799,305,2015-11-19 10:30:00,6974,3.926108e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473314,6257184,305,2015-11-19 10:45:00,6974,3.801681e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473315,5705016,305,2015-11-19 11:00:00,6974,3.776499e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473316,5809953,305,2015-11-19 11:15:00,6974,3.733543e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473317,2344172,305,2015-11-19 11:30:00,6974,3.824641e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473318,5113853,305,2015-11-19 11:45:00,6974,3.766131e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473319,5227641,305,2015-11-19 12:00:00,6974,3.736505e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473320,3750622,305,2015-11-19 12:15:00,6974,3.816494e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0
6473321,2559139,305,2015-11-19 12:30:00,6974,4.269763e+03,0,0,0,0,1,...,0,0,0,0,0,1,0,1296.111786,15.0,18.0

*The Sampling column is not a feature but an help to get the correct temperature up/down sampling*

In [ ]:
#Add features to the submission csv
add_features('submission_format.csv')

In [19]:
#Check that all the buidling are in both datasets
train = pd.read_csv('train_features_DB.csv')
subm = pd.read_csv('submission_format_features_DB.csv')
print(train['SiteId'].unique().tolist())
print(subm['SiteId'].unique().tolist())

[1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 29, 32, 33, 34, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 96, 98, 99, 100, 101, 102, 105, 106, 107, 108, 109, 110, 111, 112, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 134, 135, 136, 139, 140, 141, 142, 143, 145, 146, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 167, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 180, 181, 182, 183, 184, 185, 186, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 215, 216, 217, 218, 219, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 292, 293, 294, 295, 297, 298, 299, 300, 301, 302, 303, 304, 305]
[1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 29, 32, 33, 34, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 96, 98, 99, 100, 101, 102, 105, 106, 107, 108, 109, 110, 111, 112, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 134, 135, 136, 139, 140, 141, 142, 143, 145, 146, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 167, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 180, 181, 182, 183, 184, 185, 186, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 215, 216, 217, 218, 219, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 292, 293, 294, 295, 297, 298, 299, 300, 301, 302, 303, 304, 305]

#### Site with most records

In [ ]:
#Count number of records per site to pick up the biggest one for machine learning
records_count = training_preprocess.groupby('SiteId').count()['Value'].sort_values(ascending=False)

_ = records_count.plot(kind='bar', figsize=(20,5))
plt.show()

print(records_count.head())

*SiteId = 162 has 53 687 records, enough to train the ML model*

### Visualization of the features vs consumption for 1 building

- Difference between regular day-off and national holiday, especially if the heating/air conditionning is scheduled and do not take into account national holidays
- The feature is not temperature but the difference betwen base temp and outdoor temp (absolute value?), containing 2 information instead of one, and probably trigerring the heating/air conditionning system

In [21]:
training_preprocess = pd.read_csv('train_features_DB.csv', index_col=0, parse_dates=[3])
training_preprocess['SiteId'] = training_preprocess['SiteId'].astype('int')
print(training_preprocess.info())


def building_features(SiteId, viz=False):
    """For he specified building, creates a training set with the features from
    the weather and metadata csv files
    If vis=True, enables plotting of consumption means and temperature evolution"""

    dataset = training_preprocess.loc[training_preprocess['SiteId'] == SiteId]
    dataset.index = dataset['Timestamp']
    #print(dataset.head())
    #print(dataset.info())

    if viz == True:
        #Evolution consumption
        _ = dataset.plot(y='Value', figsize=(20,10), 
                         title="Consumption records of the building {}".format(SiteId))
        plt.show()

        #Subplots of consumption on all days of the week
        means = dict()
        for i in range(7):
            day = 'Day_Week_' + str(i)
            means[day] = dataset[dataset[day] == 1]['Value'].mean()
        means['National_holiday'] = dataset[dataset['National_Holiday'] == 1]['Value'].mean()
        _ = pd.Series(means).plot(kind='bar', figsize=(20,10),
                                 title="Consumption mean for days of week for building {}".format(SiteId))
        plt.show()

        #Subplots of consumption on months
        means = dict()
        for i in range(1,13):
            month = 'Month_' + str(i)
            means[month] = dataset[dataset[month] == 1]['Value'].mean()
        _ = pd.Series(means).plot(kind='bar', figsize=(20,10),
                                 title="Consumption mean for months for building {}".format(SiteId))
        plt.show()
        

    #Diff Temp vs consumption
    #Get temperatue with the righ sampling
    weather = pd.read_csv('weather.csv', index_col=0, parse_dates=[1])
    weather = weather.loc[weather['SiteId'] == SiteId]
    weather.index = weather['Timestamp']
    weather = weather.drop(['Distance'], axis=1)
    weather = weather.drop(['Timestamp', 'SiteId'], axis=1)

    if viz == True:
        #Plot temperatures
        _ = weather.plot(figsize=(20,10), 
                         title="Temperature records for building {}".format(SiteId))
        plt.show()
        
    #Resample the temperatures to match the energy consumption in the training set
    SAMP = str(int(dataset['Sampling'].values[0])) + 'min'
    weather_resampled = weather['Temperature'].resample(SAMP).first().interpolate('linear')
    #print(weather_resampled.head())
    #print(dataset.head())

    #Merge the resampled temperature to the training set
    dataset = dataset.join(weather_resampled)

    #Get the difference from the Base Temperature
    BASET = dataset['BaseTemperature'].values[0]
    dataset['Diff_Temp'] = dataset['Temperature'] - BASET

    #Add the hour of day feature
    dataset['Hour_Day'] = dataset['Timestamp'].dt.hour.astype('category')
    dataset = pd.get_dummies(dataset)

    #Drop non feature columns from the training set
    dataset = dataset.drop(columns=['BaseTemperature', 'Temperature', 'Sampling','Surface', 
                                    'ForecastId','Timestamp', 'SiteId', 'obs_id'])

    #Drop extra dummy features (1 in day, 1 in month & 1 in hours of day)
    dataset = dataset.drop(columns=['Day_Week_0', 'Month_1', 'Hour_Day_0'])

    dataset.to_csv('training_building{}_DB.csv'.format(SiteId))

    #print(dataset.head(20))
    
    return dataset

C:\Users\Damien\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6473322 entries, 0 to 6473321
Data columns (total 28 columns):
obs_id              int64
SiteId              int32
Timestamp           datetime64[ns]
ForecastId          int64
Value               float64
National_Holiday    int64
Day_Week_0          int64
Day_Week_1          int64
Day_Week_2          int64
Day_Week_3          int64
Day_Week_4          int64
Day_Week_5          int64
Day_Week_6          int64
Month_1             int64
Month_2             int64
Month_3             int64
Month_4             int64
Month_5             int64
Month_6             int64
Month_7             int64
Month_8             int64
Month_9             int64
Month_10            int64
Month_11            int64
Month_12            int64
Surface             float64
Sampling            float64
BaseTemperature     float64
dtypes: datetime64[ns](1), float64(4), int32(1), int64(22)
memory usage: 1.4 GB
None

In [ ]:
building_features(162, True)

*--> The consumption is reduced on sundays and national holidays compared to weekdays and saturday (even if holiday too)*

In [ ]:
building_features(1, True)

In [25]:
building_features(305)

C:\Users\Damien\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,Value,National_Holiday,Day_Week_1,Day_Week_2,Day_Week_3,Day_Week_4,Day_Week_5,Day_Week_6,Month_2,Month_3,...,Hour_Day_14,Hour_Day_15,Hour_Day_16,Hour_Day_17,Hour_Day_18,Hour_Day_19,Hour_Day_20,Hour_Day_21,Hour_Day_22,Hour_Day_23
Timestamp,,,,,,,,,,,,,,,,,,,,,
2015-11-09 11:45:00,0.000000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-09 12:00:00,7767.783092,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-09 12:15:00,3858.709945,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-09 12:30:00,3888.335358,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-09 12:45:00,2808.489081,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-09 13:00:00,2439.652699,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-09 13:15:00,2436.319840,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-09 13:30:00,2432.986981,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-09 13:45:00,2444.096511,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-09 14:00:00,2475.943829,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2015-11-09 14:15:00,2378.920604,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2015-11-09 14:30:00,2432.246346,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2015-11-09 14:45:00,2403.361569,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2015-11-09 15:00:00,2399.658392,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2015-11-09 15:15:00,2455.946675,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2015-11-09 15:30:00,2392.992674,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2015-11-09 15:45:00,2724.056656,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2015-11-09 16:00:00,3948.326817,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2015-11-09 16:15:00,4066.828466,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2015-11-09 16:30:00,3954.251900,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2015-11-09 16:45:00,3855.747404,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2015-11-09 17:00:00,3848.341051,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2015-11-09 17:15:00,4551.203957,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2015-11-09 17:30:00,4685.999582,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2015-11-09 17:45:00,4711.181183,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2015-11-09 18:00:00,4764.506925,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2015-11-09 18:15:00,4280.872070,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2015-11-09 18:30:00,5202.963026,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2015-11-09 18:45:00,4989.660058,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2015-11-09 19:00:00,5049.651518,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-11-19 05:15:00,233.300121,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 05:30:00,260.703628,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 05:45:00,251.075369,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 06:00:00,213.302968,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 06:15:00,261.444263,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 06:30:00,321.435723,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 06:45:00,208.118521,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 07:00:00,208.118521,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 07:15:00,241.447110,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 07:30:00,249.594098,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 07:45:00,207.377886,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 08:00:00,714.713071,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 08:15:00,2317.447873,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 08:30:00,2283.378649,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 08:45:00,2448.540322,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 09:00:00,3646.888248,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 09:15:00,3568.380905,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 09:30:00,3655.775872,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 09:45:00,3877.966463,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 10:00:00,3987.580489,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 10:15:00,3954.992535,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 10:30:00,3926.107758,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 10:45:00,3801.681027,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 11:00:00,3776.499426,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 11:15:00,3733.542579,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 11:30:00,3824.640721,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 11:45:00,3766.130532,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 12:00:00,3736.505120,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 12:15:00,3816.493733,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-11-19 12:30:00,4269.762540,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Create the csv training sets for all buildings

In [ ]:
SITES = training_preprocess['SiteId'].unique().tolist()
#print(SITES)

for site in SITES:
    print("Building {}".format(site))
    building_features(site)

---

## Machine Learning models
Target: energy consumption forecast for each building

- Preprocessing: 
    - getting data from metadata globally
    - getting temperatures for one given building
    - dummy variable for site ID, Imputing, Scaling

- Hashing for computing efifciency

- Regression Models: Ridge, Lasso, ElasticNet

- Hyperparameter tuning with gridsearch

### SImple Model for 1 building
- Training set: see above for 1 building
- Features: day of week, month, dayoff, national holiday,  /\temperature
- Preprocessing: scaling (temperature), imputing?, dummy variables (already done)
- Model: Simple Ridge regression (hyperparameter = alpha)

*Test with the building 162*

#### Function for preprocessing/addind features
- Training & Submission sets: only Obs_Id, Timestamp, SiteId, ForecastId, Value
- Features to add:
    - Temperature: 
    - Days off (regular & bank-holidays)
    - Day of month, hour of day
    
Creates function to go into the pieline using FunctionTransformer()

In [2]:
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.linear_model import Ridge, ElasticNet, Lasso
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer, StandardScaler, FunctionTransformer

In [ ]:
%%time

SiteId = 162

#Load training set
training = pd.read_csv('training_building{}_DB.csv'.format(SiteId), index_col=0)
print(training.head())
print(training.info())
#print(training.columns)

#Create the features (X) and target (y) arrays
y = training.loc[:,'Value'].values.reshape((-1,1))
X = training.drop(columns=['Value']).values

print('shape of X and Y arrays: {}'.format([X.shape, y.shape]))


#Building the model
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4)

#Alpha Hyperparameter tunning
param_grid={'reg__alpha': np.logspace(-4,0,50)}

#Pipeline building
pipeline = Pipeline([('reg', Ridge(normalize=True))
                    ])

cv = GridSearchCV(pipeline, param_grid=param_grid, cv=10)

cv.fit(X_train, y_train)
predictions = cv.predict(X_test)

print(cv.best_params_)
print(cv.best_score_)
print('Score RÂ² on test set: {}'.format(cv.score(X_test, y_test)))

#Simple RMSE for 1 building
mu = 1 / np.mean(y_test)
simple_rmse = mu * np.sqrt(np.sum((predictions - y_test) ** 2))
print('RMSE result: {}'.format(simple_rmse))

- **Best results with Ridge:**
*cv=10  |  normalize=True  |  {'reg__alpha': 0.0001}  |  Best obtained RÂ²: 0.7683974571210929  |  Score RÂ² on test set: 0.77008  |  RMSE = 23.26860

In [ ]:
%%time

SiteId = 1

#Load training set
training = pd.read_csv('training_building{}_DB.csv'.format(SiteId), index_col=0)
print(training.head())
print(training.info())
print(training.columns)

#Create the features (X) and target (y) arrays
y = training.loc[:,'Value'].values.reshape((-1,1))
X = training.drop(columns=['Value']).values

print('shape of X and Y arrays: {}'.format([X.shape, y.shape]))


#Building the model
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4)

#Alpha Hyperparameter tunning
param_grid={'reg__alpha': np.logspace(-4,0,50)}

#Pipeline building
pipeline = Pipeline([('reg', Ridge(normalize=True))
                    ])

cv = GridSearchCV(pipeline, param_grid=param_grid, cv=10)

cv.fit(X_train, y_train)
predictions = cv.predict(X_test)

print(cv.best_params_)
print(cv.best_score_)
print('Score RÂ² on test set: {}'.format(cv.score(X_test, y_test)))

#Simple RMSE for 1 building
mu = 1 / np.mean(y_test)
simple_rmse = mu * np.sqrt(np.sum((predictions - y_test) ** 2))
print('RMSE result: {}'.format(simple_rmse))

In [ ]:
%%time

SiteId = 302

#Load training set
training = pd.read_csv('training_building{}_DB.csv'.format(SiteId), index_col=0)
print(training.head())
print(training.info())
print(training.columns)

#Create the features (X) and target (y) arrays
y = training.loc[:,'Value'].values.reshape((-1,1))
X = training.drop(columns=['Value']).values

print('shape of X and Y arrays: {}'.format([X.shape, y.shape]))


#Building the model
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4)

#Alpha Hyperparameter tunning
param_grid={'reg__alpha': np.logspace(-4,0,50)}

#Pipeline building
pipeline = Pipeline([('reg', Ridge(normalize=True))
                    ])

cv = GridSearchCV(pipeline, param_grid=param_grid, cv=10)

cv.fit(X_train, y_train)
predictions = cv.predict(X_test)

print(cv.best_params_)
print(cv.best_score_)
print('Score RÂ² on test set: {}'.format(cv.score(X_test, y_test)))

#Simple RMSE for 1 building
mu = 1 / np.mean(y_test)
simple_rmse = mu * np.sqrt(np.sum((predictions - y_test) ** 2))
print('RMSE result: {}'.format(simple_rmse))

### Pipeline for the submission csv, predictions on buildings individually
Pipeline that does predictions for each building individually (rather than using the entire dataset to make predictions)

In [4]:
def building_features_sub(SiteId, dataset):
    """For the specified building in the submission format file (filtered submission), 
    creates a set for predictions with the features from
    the weather (NOT RESAMPLED HERE) and metadata csv files"""
    

    #Diff Temp vs consumption
    #Get temperatue with the righ sampling
    weather = pd.read_csv('weather.csv', index_col=0, parse_dates=[1])
    weather = weather.loc[weather['SiteId'] == SiteId]
    weather.index = weather['Timestamp']
    weather = weather.drop(['Distance'], axis=1)
    weather = weather.drop(['Timestamp', 'SiteId'], axis=1)

    
    #Resample the temperatures to match the energy consumption in the training set
    SAMP = str(int(dataset['Sampling'].values[0])) + 'min'
    weather_resampled = weather['Temperature'].resample('D').mean()#.first().interpolate('linear')
    time_index = dataset.index
    weather_resampled = weather_resampled.reindex(dataset.index)
        
    #print(weather_resampled.head())
    #print(dataset.head())

    #Merge the resampled temperature to the training set
    dataset['Temperature'] = weather_resampled

    #Get the difference from the Base Temperature
    BASET = dataset['BaseTemperature'].values[0]
    dataset['Diff_Temp'] = dataset['Temperature'] - BASET

    #Add the hour of day feature
    dataset['Hour_Day'] = dataset['Timestamp'].dt.hour.astype('category')
    dataset = pd.get_dummies(dataset)

    #Drop non feature columns from the training set
    dataset = dataset.drop(columns=['BaseTemperature', 'Temperature', 'Sampling','Surface', 
                                    'ForecastId','Timestamp', 'SiteId', 'obs_id'])

    #Drop extra dummy features (1 in day, 1 in month & 1 in hours of day)
    dataset = dataset.drop(columns=['Day_Week_0', 'Month_1', 'Hour_Day_0'])

    #dataset.to_csv('training_building{}_DB.csv'.format(SiteId))

    #print(dataset.head(20))
    
    return dataset

In [29]:
%%time

submission = pd.read_csv('submission_format_features_DB.csv', parse_dates=[3], index_col=0)
submission.index = submission['Timestamp']
#print(submission.head())
#print(submission.info())

SUB = ['obs_id', 'SiteId', 'Timestamp', 'ForecastId']

SITES = submission['SiteId'].unique().tolist()#[-3:]
print("Buildings in the Pipeline: {}".format(SITES))

results_df = pd.DataFrame()
predictions_df = pd.DataFrame()
R2 = np.empty(len(SITES))
RMSE = np.empty(len(SITES))


for i, site in enumerate(SITES):
    site = int(site)
    print("\n Training of model for building {}\n".format(site))
    
    training_set = pd.read_csv('training_building{}_DB.csv'.format(site), index_col=0)
    #print("\n Training set overview\n", training_set.head())
    #print(training_set.info())
  
    #Create the features (X) and target (y) arrays for the training
    X = training_set.drop(columns=['Value']).values
    y = training_set.loc[:,'Value'].values.reshape((-1,1))

    #print('shape of X and Y arrays: {}'.format([X.shape, y.shape]))


    #Building the model
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=4)

    #Alpha Hyperparameter tunning
    param_grid={'reg__alpha': np.logspace(-4,0,30)}

    #Pipeline building
    pipeline = Pipeline([('imp', Imputer(strategy='mean', axis=1)),
                         ('reg', Ridge(normalize=True))
                        ])

    cv = GridSearchCV(pipeline, param_grid=param_grid, cv=10)
    
    #Training on the training set of the building
    cv.fit(X_train, y_train)
    pred_training = cv.predict(X_test)
    score = cv.score(X_test, y_test)
    
    print("Hyperparameter fine tunning:", cv.best_params_, cv.best_score_)
    print('Score RÂ² on test set: {}'.format(score))

    #Simple RMSE for 1 building
    mu = 1 / np.mean(y_test)
    simple_rmse = mu * np.sqrt(np.sum((pred_training - y_test) ** 2))
    print('RMSE result of training: {}'.format(simple_rmse))
    
    #Keep the scores (RÂ² & RMSE) in a dataframe
    R2[i] = score
    RMSE[i] = simple_rmse
    
    
    #Prepare the submission set for predictions
    sub_building = submission.loc[submission['SiteId'] == site]
    results_df = sub_building.loc[:, SUB]
    #print(sub_building.head())
    #print(sub_building.shape)

    #Add temperature and building specific features to submission set
    ##HERE##
    sub_building = building_features_sub(site, sub_building)

    #print(sub_building.shape)
    sub_building = sub_building.drop(columns=['Value'])
    #print("Submission table for predictions: \n", sub_building.head())

    X_sub = sub_building.values
    y_sub = cv.predict(X_sub)
    
    #Append the predictions and submission df with the obtained predictions
    results_df['Value'] = y_sub
    predictions_df = predictions_df.append(results_df)
    scores_df = pd.DataFrame({"Building": SITES, "R2": R2, "RMSE": RMSE})
    
print(predictions_df.head())
print(scores_df.head())
predictions_df.to_csv('submission_format_results_DB.csv')
scores_df.to_csv('scores_DB.csv')

#Display the best scores obtained
max_R2 = np.max(R2)
min_rmse = np.min(RMSE)
print("\n Best performances of the model: RÂ²={} and RMSE={}".format(max_R2, min_rmse))

C:\Users\Damien\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

Buildings in the Pipeline: [303, 304, 305]

 Training of model for building 303

Hyperparameter fine tunning: {'reg__alpha': 0.03039195382313198} 0.24001615327410533
Score RÂ² on test set: 0.22010879114075507
RMSE result of training: 0.8176557271197372

C:\Users\Damien\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)
C:\Users\Damien\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Damien\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Damien\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

 Training of model for building 304

Hyperparameter fine tunning: {'reg__alpha': 0.011721022975334805} 0.8340123809464993
Score RÂ² on test set: 0.8815155584391876
RMSE result of training: 1.6027803920097545

C:\Users\Damien\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)
C:\Users\Damien\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Damien\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Damien\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

 Training of model for building 305

Hyperparameter fine tunning: {'reg__alpha': 0.0032903445623126675} 0.8533443100910182
Score RÂ² on test set: 0.8833645782360079
RMSE result of training: 4.83963455068245

C:\Users\Damien\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)
C:\Users\Damien\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Damien\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             obs_id  SiteId  Timestamp  ForecastId         Value
Timestamp
2010-12-27   740633     303 2010-12-27        6962  1.070881e+07
2010-12-28  4028577     303 2010-12-28        6962  1.071962e+07
2010-12-29   487829     303 2010-12-29        6962  1.071780e+07
2010-12-30  4470410     303 2010-12-30        6962  1.071096e+07
2010-12-31  5095871     303 2010-12-31        6962  1.066547e+07
   Building        R2      RMSE
0       303  0.220109  0.817656
1       304  0.881516  1.602780
2       305  0.883365  4.839635

 Best performances of the model: RÂ²=0.8833645782360079 and RMSE=0.8176557271197372
Wall time: 4min 37s

C:\Users\Damien\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [34]:
#Predictions from 1 to 302 saved, remaining is 303, 304 & 305 saved as xxx2.csv
pred1 = pd.read_csv('submission_format_results_DB.csv')
pred2 = pd.read_csv('submission_format_results_DB2.csv')
pred = pd.concat([pred1, pred2], axis=0)

print(pred.tail())
pred.to_csv('submission_format_results_DB_f.csv')

               Timestamp   obs_id  SiteId          Timestamp.1  ForecastId  \
903  2015-11-21 11:30:00  6226412     305  2015-11-21 11:30:00        6974
904  2015-11-21 11:45:00  4466872     305  2015-11-21 11:45:00        6974
905  2015-11-21 12:00:00  2951966     305  2015-11-21 12:00:00        6974
906  2015-11-21 12:15:00  6044913     305  2015-11-21 12:15:00        6974
907  2015-11-21 12:30:00  6704022     305  2015-11-21 12:30:00        6974

           Value
903  3389.143229
904  3389.143229
905  3686.893288
906  3686.893288
907  3686.893288

### Full Pipeline, predicts on all building altogether
- Load the submission file
-